<h1 *ngIf="!hasOrder">No Order Found</h1>
<!-- <h1 id="checkoutHeader" *ngIf='hasOrder'>{{}}</h1>  -->

<h1 *ngIf="hasOrder">Get Ready For Pizza!</h1>
<div class="d-flex justify-content-center">
    <div class="boxclass">
        <div class="card-body border p-0">
            <p>
              <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                    data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                    aria-controls="collapseExample"> <span class="fw-bold">Payment Details</span> <span class=""> <span
                            class="fab fa-cc-amex"></span> <span class="fab fa-cc-mastercard"></span> <span
                            class="fab fa-cc-discover"></span> </span>
                </a>
            </p>

            <div class="collapse show p-3 pt-0" id="collapseExample">
                <br>
                <div class="row">
                    <!-- <div class="col-lg-5 mb-lg-0 mb-3"> -->
                      <div *ngFor="let item of items$ | async" class="col-lg-5 mb-lg-0 mb-3">
                          <p class="mb-0"><span class="fw-bold">List Items Selected Here</span><span class="c-green">:
                                  {{item.itemName}}</span> </p>
                          <p class="mb-0"> <span class="fw-bold">Subtotal</span><span class="c-green">{{ item.price | currency }}</span> </p>
                          <p class="mb-0"> <span class="fw-bold">Add tip</span><span class="c-green">{{ (item.orderTotal * .08) | currency}}</span> </p>
                          <!-- <img src="https://media.istockphoto.com/photos/cheesy-pepperoni-pizza-picture-id938742222?k=20&m=938742222&s=612x612&w=0&h=X5AlEERlt4h86X7U7vlGz3bDaDDGQl4C3MuU99u2ZwQ="
                              max-width="30%" height="35%"> -->
                              <!-- NP EDIT DEMO ******** IMAGE TAG ABOVE -->
                              <img
                              [src]="item.imageURL"
                              class="img-fluid rounded-start"
                              [alt]="item.itemName"
                            />
                            <!-- NP EDIT DEMO *** P TAG BELOW -->
                          <!-- <p class="mb-0">This could be an image of the first item chosen,<br> or provide an outlet for
                              user
                              feedback.</p> -->
                      </div>

                      <div>
                          <p class="h4 mb-0">Summary</p>
                          <span>SubTotal: {{ totalAmount$ | async | currency }}</span>
                          <!-- <span>Tax:{{ totalAmount$ | async | currency }}</span> -->
                          <br>
                          <span>Tax: {{ totalAmountTax$ | async | currency }}</span>
                          <br>
                          <!-- NP EDIT DEMO *******NEW ADD BELOW -->
                          <span>Tip:
                            <input
                              class="tip"
                              type="text"
                              name="tip"
                              min="0"
                              max="20"
                              ng-pattern="onlyNumbers"
                              value="{{ tip | number: '1.2-2' }}"
                              (blur)="updateTipAmount($event)">
                              <!-- try adding ngmask library--works w/ css currency formatting -->
                          </span>
                          <br>
                          <!-- NP EDIT DEMO *******NEW ADD ABOVE -->

                          <span>OrderTotal: {{ totalAmountCheckout$ | async | currency }}</span>
                      </div>

                      <br>
                    <div class="col-lg-5">
                        <label class="d-flex justify-content-center">Enter Payment Details</label><br>
                        <form action="" class="form" style="margin-left:2em" [formGroup]="paymentGroup">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form__div"> <input id="cnum" type="text" class="form-control"
                                            placeholder=" " formControlName='card_number'> <label for="cnum"
                                            class="form__label">Card
                                            Number</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__div"> <input id="cexpdate" type="text" class="form-control"
                                            placeholder=" " formControlName='cardexpiration'> <label for="cexpdate"
                                            class="form__label">Expiration Date
                                            (MM/YY)</label> </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__div"> <input id="cvv" type="password" class="form-control"
                                            placeholder=" " formControlName='security_code'> <label for="cvv"
                                            class="form__label">CVV
                                            code</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form__div"> <input id="cholder" type="text" class="form-control"
                                            placeholder=" " formControlName='cardholder'> <label for="cholder"
                                            class="form__label">Cardholder
                                            Name</label> </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__div"> <input id="billing" type="text" class="form-control"
                                            placeholder=" " formControlName='billingzip'> <label for="billing"
                                            class="form__label">Billing
                                            Zipcode</label> </div>
                                </div><label class="d-flex justify-content-center">Enter Delivery Address</label>
                                <!-- <div class="col-12">
                                    <button class="btn btn-primary w-100"
                                        (click)="getPaymentDetails(paymentGroup)">Confirm
                                        Payment Details</button>
                                </div> -->
                            </div>
                        </form>
                        <br>
                        <div class="col-lg-12">
                            <form action="" class="form" style="margin-left:2em" [formGroup]="addressGroup">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form__div"> <input id="sname" type="text" class="form-control"
                                                placeholder=" " formControlName='street_name'> <label for="sname"
                                                class="form__label">Street Name</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form__div"> <input id="city" type="text" class="form-control"
                                                placeholder=" " formControlName='city'> <label for="city"
                                                class="form__label">City</label> </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form__div"> <input id="state" type="text" class="form-control"
                                                placeholder=" " formControlName='state'> <label for="state"
                                                class="form__label">State Abbreviation</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form__div"> <input id="zipcode" type="text" class="form-control"
                                                placeholder=" " formControlName='zipcode'> <label for="zipcode"
                                                class="form__label">Zipcode</label> </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" (click)="createOrder()">Place Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <form [formGroup]="paymentGroup">
    <h2>Input Card Number</h2>
    <input type="text" formControlName='card_number'>
    <h2>Input Cardholder Name</h2>
    <input type="text" formControlName='cardholder'>
    <h2>Input Card Expiration Date</h2>
    <input type="text" formControlName='cardexpiration'>
    <h2>Input Security Code</h2>
    <input type="text" formControlName='security_code'>
    <h2>Input Billing Zip Code</h2>
    <input type="text" formControlName='billingzip'>
     <button class="btn btn-primary" (click)=""</button>
</form> -->
