<app-cart></app-cart>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title text-center">{{ menuTitle }}</h5>
    <p class="card-text text-center">
      {{ menuDescription }}
    </p>
    <p class="card-text text-center">
      <small class="text-muted">Menu Selection</small>
    </p>

    <div class="d-flex justify-content-center">
      <button class="btn btn-secondary me-2" (click)="selectedPizzaMenu()">
        Pizzas
      </button>
      <button class="btn btn-secondary me-2" (click)="selectedDessertMenu()">
        Desserts
      </button>
      <button class="btn btn-secondary" (click)="selectedDrinksMenu()">
        Drinks
      </button>
    </div>
  </div>
</div>
<div class="custom-margin">
  <app-menu-item
    [isPizza]="isPizza"
    [isDessert]="isDessert"
    [isDrinks]="isDrinks"
  ></app-menu-item>
</div>
