<!--
    Dynamic Data Slots:
        Name, price, description, image, add to cart button(modifier component)
-->
<!-- Menu-Item Card -->
<div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
  <div *ngFor="let item of itemList" class="card mb-3 mx-2" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="item.imageURL"
          class="img-fluid rounded-start"
          [alt]="item.itemName"
        />
      </div>
      <div class="col-md-8 d-flex justify-content-around">
        <div class="card-body">
          <h5 class="card-title">{{ item.itemName }}</h5>
          <p class="card-text">
            {{ item.price | currency: "USD":"symbol":"1.2-2" }}
          </p>
          <p class="card-text">
            <small class="text-muted">{{ item.description }}</small>
          </p>
        </div>
        <div class="my-3 mx-2">
          <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to Cart">+</button>
        </div>
      </div>
    </div>
  </div>
</div>


