<!-- <h1>CART MODAL</h1> -->

<button class="btn btn-lg btn-outline-danger" (click)="open(mymodal)">Cart</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cart</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <!-- <div class="modal-body">
    Create table for food items here -- link with service/submit on click
  </div> -->

  <div class="list-group-item cart-align">
    <table class="table caption-top">
      <thead>
        <tr>
          <th>Item</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items$ | async; let i = index;">
          <td>{{ item.itemName }}</td>
          <td>
             <input class= "product-quantity" type="number" [value]="item.qty" min="1" (click)="updateItemQty(item, $event)">
          </td>
          <td>{{ item.qty*item.price | currency:'USD':'symbol':'1.2-2' }}</td>
          <!-- <td>{{ item.price | currency }}</td> -->
          <td><button (click)="removeCartItem(item)" class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="cartService.isCartEmpty()">Cart is empty.</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    <button  routerLink="/checkout" type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Checkout</button>

  </div>
</ng-template>


<!-- <button (click)="addItemToCart()">Add Item</button> --> <!-- NP EDIT DEMO*********** -->


<!-- S3 IMAGE UPLOADING TESTING FUNCTIONALITY - NEEDS TO UPLOAD INITIALLY TO MENU -->

<!-- <div>
  <button type="submit" (click)="localRef.click()">Pick Image</button>
  <input type="file" #localRef>
</div> -->


<!-- S3 USE THIS DISREGARD ABOVE COMMENTED OUT--> <!-- TRY IMPLEMENTING ALL FUNCTIONALITY W/ SPRING DATABASE FROM 10.27/10.28 -->
<!-- <h1>Upload,View & Delete File</h1>
<input type="file" id="customFile" (change)="selectFile($event)" placeholder="File To Upload">
<button class="btn btn-primary" [disabled]="!selectedFiles || admincheck || status" (click)="upload()">Save File</button>
<br><br><br>
<input type="text" placeholder="File to View or Delete"  name="image" [(ngModel)]="file">
<button class="btn btn-primary" style="margin-left: 10px" (click)="viewFile()">View File</button>
<button class="btn btn-primary" style="margin-left: 10px" (click)="deleteFile()">Delete File</button> -->



<!--
  -- check to see if this even necessary once we have login/auth setup since it will be displayed on menu page

  <li *ngIf="isAuthenticated"> </li>
 -->

