<p>footer2 works!</p>
<footer>
<div id="div2">
    <table>
   <tr> Ingredients </tr> 					
   <tr>City</tr> 						
   <tr> Contact us to Visit	</tr>		
    </table>
  </div>
<div id="div2" ><table>
    <tr>   Apply for a job </tr>
    <tr>  Locations	</tr>
    <tr> Weather	</tr>	</table>
</div>
<div id="div2"><table>
    <tr>  LinkedIn</tr>
    <tr>   Facebook</tr>
    <tr>   UberEats</tr></table>
    </div> <br><br><br><br><br><br>
          <p>Company © Pizza Ave. All rights reserved.</p>
    
    
        </footer>