<p></p>
<div id="div3"></div>

<footer>
<div id="div2">
    <table>
   <tr> <a routerLink="child-a"  routerLinkActive="active">View Menu Items </a></tr> 					
   <tr><a routerLink="child-a"  routerLinkActive="active">City</a></tr> 						
   <tr> <a routerLink="child-a"  routerLinkActive="active">Contact Us </a>	</tr>		
    </table>
    
  </div>
<div id="div2" ><table>
    <tr>   <a routerLink="child-a"  routerLinkActive="active">Apply for a job </a></tr>
    <tr> <a routerLink="child-a"  routerLinkActive="active">Pizza	</a></tr>
    <tr> SiteMap	</tr>	</table>
</div>
<div id="div2"><table>
    <tr> <a routerLink="child-a"  routerLinkActive="active">LinkedIn</a></tr>
    <tr>  <a routerLink="child-a"  routerLinkActive="active"> Facebook</a></tr>
    <tr>  <a routerLink="child-a"  routerLinkActive="active">UberEats</a></tr></table>
    </div> 

   
    <div class="map1"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3480.1982820484186!2d-94.81184168456087!3d29.27650666139268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x863f9e828a01520b%3A0x2f8c5a700eb8c2a5!2sPapa&#39;s%20Pizza!5e0!3m2!1sen!2sus!4v1635996702521!5m2!1sen!2sus" width="200" height="200"  style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
   <br><br><br><br><br>

    <div class="p1">
           © Pizza Palace. All rights reserved.
   </div>
 
        </footer>
        